:root {
    --backGround: #000000;
    --priC: #00b46f;
    --secC: #ffffff;
    --triC: #dfffe5;
    --summa: #c3ffb6;
    --bs-font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}


html {
    scroll-behavior: smooth;
}

body {
    width: 100%;
    height: 100%;
    display: flex;
    background-color: var(--backGround);
    margin: 0;
    padding: 0;
    color: var(--secC);
    pointer-events: auto;
    overflow-x: hidden;
}

body .body-overlay {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    filter: grayscale();
    opacity: 0.3;
}

.b {
    border: 1px dotted white;
}



/*Main Left--------------------------------------------------------------------------------------------------*/

.main-container-left-fixed {
    width: 30%;
    min-width: 450px;
    height: 100vh;
    margin: 0;
    position:fixed;
    display: flex;
    padding: auto;
    pointer-events: auto;
}

.main-content-left-fixed {
    margin: auto;
    width: 90%;
    border: 1px solid var(--triC);
    border-radius: 50px 2px;
    height: 94%;
    transition: 500ms;
}

.main-content-left-fixed:hover {
    transition: 500ms;
    box-shadow: inset 0 0 10px 0px var(--priC), 0 0 10px 0px var(--priC);
    backdrop-filter: blur(5px) brightness(1.2);
    background: rgba(255, 255, 255, 0.1);
}

.main-content-left-fixed .top {
    width: 100%;
    height: 16%;
    text-align: right;
    display: flex;
    align-items: center;
    justify-content: space-around;

}

.main-content-left-fixed .top h1 {
    font-size: 300%;
    display: inline;
    color: var(--priC);
}

.main-content-left-fixed .top h6 {
    font-size: 120%;
    width: 30%;
    display: inline;
    text-align-last: right;
    color: var(--secC);
    text-shadow: 0 0 2px black;
}

.main-content-left-fixed .top h6 b {
    font-weight: bold;
    color: var(--priC);
}

.main-content-left-fixed .between {
    height: 55%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-content-left-fixed .between .card {
    --imag: url(pics/me.jpeg);
    width: 50%;
    height: 80%;
    border-radius: 10px;
    background-image: var(--imag);
    background-size: cover;
    position: relative;
    transition-duration: 1s;
    transition-property: transform, box-shadow;
    transition-timing-function: ease-out;
    transform: rotate3d(0);
}

.main-content-left-fixed .between .card:hover {
    transition-duration: 0.5s;
    box-shadow: 1px 3px 10px 5px #000000, 1px 5px 30px 0 #ffffff88;
}

.main-content-left-fixed .between .card .glow {
    position: absolute;
    border-radius: 10px;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;

    background-image: radial-gradient(circle at 0% 0%, #ffffff33, #00000044);
}

.main-content-left-fixed .bottom {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 12%;
}

.main-content-left-fixed .bottom .icons {
    width: 50px;
    height: 50px;
    border: 1px solid gray;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff69;
    transition: 600ms;
    box-shadow: 0;
}

.main-container-left-fixed .bottom .icons:hover {
    transition: 600ms;
    border: 1px solid gray;
    border-radius: 10px;
    background-color: #00000000;
    box-shadow: inset 0 0 30px 0 var(--priC);
}

.main-content-left-fixed .bottom .icons img {
    width: 62%;
    transition: 300ms;
}

.main-content-left-fixed .bottom .icons:hover img {
    width: 80%;
    transition: 300ms;
    filter: invert();
    transition-delay: .1s;
}

.main-content-left-fixed .buton {
    display: flex;
    color: var(--backGround);
    font-weight: 700;
    font-size: 150%;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin: auto;
    margin-top: 8%;
    width: 60%;
    height: 50px;
    background-color: var(--priC);
    border-radius: 30px;
    transition: .5s;
}

.main-content-left-fixed .buton:hover {
    box-shadow: 0 0 10px 0px var(--priC);
    transition: .5s;
    color: white;
    text-shadow: 0 0 5px black;
}

.main-content-left-fixed .buton a {
    all: unset;
}

.r {
    width: 70%;
    margin-left: 30%;
    padding: 5%;
    height: auto;
    pointer-events: auto;
    scroll-snap-type: y mandatory;
}



/*Introduction--------------------------------------------------------------------------------------------------*/

.r .intro {
    padding: 0;
    margin: 0;
    /* border: 1px solid wheat; */
}

.hair {
    width: fit-content;
    border: 1px solid var(--triC);
    border-radius: 100px;
    padding: 5px 35px;
    transition: 500ms;
    font-size: 22px;
}

.hair:hover {
    border: 1px solid var(--priC);
    transition: 500ms;
    box-shadow: inset 0 0 30px 0px var(--priC), 0 0 10px 0px var(--priC);
    backdrop-filter: brightness(2);
}

pre {
    color: var(--secC);
    margin: 0;
    line-height: 80%;
    font-size: 450%;
    font-weight: lighter;
    margin: 6% 0;
}

pre b {
    color: var(--priC);
    font-weight: normal;
}

p {
    width: 80%;
    margin: 0;
    font-weight: lighter;
    color: var(--triC);
    font-size:26px;
    text-shadow: 0 0 2px black;
}

p b {
    color: var(--priC);
    font-weight: bold;
    text-shadow: 0 0 2px black;
}


/*About-------------------------------------------------------------------------------------------------------*/

.r .about {
    padding: 0;
    margin: 10% 0;
    /* border: 1px solid white ; */
}

/*Resume-------------------------------------------------------------------------------------------------------*/

.r .res {
    padding: 0;
    margin: 10% 0;
    margin-top: 20%;
}

.r .res .resume-timeline .item {
    position: relative;
    padding-left: 74px;
    padding-bottom: 68px;
}

.r .res .resume-timeline .item {
    padding-left: 50px;
}

.r .res .resume-timeline .item:last-child {
    padding-bottom: 0;
}

.r .res .resume-timeline .item:last-child::after {
    height: calc(100% - 10px);
}

.r .res .resume-timeline .item::after {
    content: '';
    background: #333333;
    width: 1px;
    height: 100%;
    position: absolute;
    left: 0;
    top: 10px;
    z-index: -1;
}

.r .res .resume-timeline .item::before {
    content: '';
    position: absolute;
    width: 12px;
    height: 12px;
    background: #656565;
    border-radius: 50%;
    left: -6px;
    top: 7px;
    transition: .3s;
}

.r .res .resume-timeline .item .date {
    display: block;
    margin-bottom: 35px;
    font-size: 18px;
    transition: .3s;
}

.r .res .resume-timeline .item h2 {
    font-size: 32px;
    font-weight: 300;
    margin-bottom: 5px;
    color: #fff;
}

.r .res .resume-timeline .item h2 a {
    color: #fff;
    display: block;
}

.r .res .resume-timeline .item p {
    font-size: 18px;
    color: var(--triC);
    margin-bottom: 18px;
}

.r .res .resume-timeline .item p:last-child {
    margin-bottom: 0;
}

.r .res .resume-timeline .item:hover::before {
    background: var(--priC);
}

.r .res .resume-timeline .item:hover .date {
    color: var(--priC);
    text-shadow: 0 0 2px rgb(255, 255, 255);
}

/*Services---------------------------------------------------------------------------------------------------------*/

.r .ser {
    padding: 0;
    margin: 10% 0;
    margin-top: 20%;
}

.r .ser .card {
    height: 20%;
    width: 70%;
    padding: 3% 10%;
    border-radius: 20px;
    border: 1px solid var(--triC);
    transition: 1s;
    margin-bottom: 5%;
    position: relative;
}

.r .ser .card span{
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 120px;
    font-variation-settings:
    'FILL' 0,
    'wght' 100,
    'GRAD' 0,
    'opsz' 24
}

.r .ser .card:hover {
    border: 1px solid var(--priC);
    transition: 500ms;
    box-shadow: inset 0 0 10px 0px var(--priC);
}

.r .ser .card h2 {
    margin: 0;
    padding: 0;
    font-size: 32px;
    font-weight: 300;
    margin-bottom: 5px;
    color: var(--secC);
}

.r .ser .card p {
    width: 75%;
    font-size: 20px;
    color: var(--triC);
    margin-bottom: 18px;
    margin-left: 0;
    /* border: 1px solid white; */
}



/*My Skills-----------------------------------------------------------------------------------------------------------*/

.r .skill {
    padding: 0;
    margin: 0;
}

.r .skill .cont {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.r .skill .cont .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 130px;
    height: 75px;
    border: 1px solid var(--triC);
    border-radius: 100px;
    margin: 55px 30px;
    padding: 30px 0px;
    transition: 0.5s;
    background-color: rgba(91, 91, 91, 0.168);
}

.r .skill .cont .icon:hover {
    height: 140px;
    transition: 0.5s;
    box-shadow: inset 0 0 20px 0px var(--priC);
    border: 1px solid var(--priC);
    margin: 20px 20px;
    padding: 30px 10px;
    background-color: #5d5d5d29;
}

.r .skill .cont .icon img {
    width: 60%;
    margin: 20px 0;
    transition: 0.5s;
}

.r .skill .cont .icon:hover img {
    transition: 0.5s;
}

.r .skill .cont .icon h2 {
    margin: 0;
    padding: 0;
    font-size: 0px;
    font-weight: 500;
    margin-bottom: 5px;
    color: var(--priC);
    text-align: center;
    filter: opacity(0);
    transition: 0.5s;
}

.r .skill .cont .icon:hover h2 {
    filter: opacity(1);
    transition: 0.5s;
    font-size: 20px;
    color: white;
}


.r .project {
    padding: 0;
    margin: 0;
}

.r .project .cont {
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: start;
    gap: 15px;
    flex-wrap: wrap;
}

.r .project .cont .pro {
    width: 80%;
    position: relative;
    border: 5px;
}

.r .project .cont .pro::after {
    position: absolute;
    left: 0;
    bottom: 5px;
    content: "";
    width: 100%;
    height: 0;
    border-radius: 20px;
    background: linear-gradient(0deg, rgba(0,0,0,.6) 0%, rgba(0,0,0,.2) 30%, rgba(29, 29, 29, 0) 50%);
    transition: all 0.5s ease-in-out;
}

.r .project .cont .pro:hover::after {
    height: 100%;
    transition: all 0.5s ease-in-out;
    background: linear-gradient(0deg, rgba(0,0,0,.6) 0%, rgba(0,0,0,.3) 20%, rgba(29, 29, 29, 0) 50%);
}

.r .project .cont .pro video {
    width: 100%;
    border-radius: 20px;
    object-fit: cover;
    z-index: -1;
}

.r .project .cont .pro:has(.mobbi) {
    width: 20%;
    position: relative;
}

.r .project .cont .pro:has(.mobbi)::after {
    width: 100%;
}

.r .project .cont .pro img {
    width: 100%;
    border-radius: 20px;
}

.r .project .cont .pro h3{
    position: absolute;
    bottom: 0;
    left: 5%;
    color: white;
    z-index: 99;
    font-size: 22px;
    font-weight: 100;
    transition: all 0.5s ease-in-out;
    opacity: 0;
}

.r .project .cont .pro:hover h3{
    opacity: 1;
}

/* Contact page........................................................................ */

.contact {
    padding: 0;
    margin: 0;
    width: 100%;
}

.material-symbols-outlined {
    width: auto;
    transition: .5s;
    cursor: pointer;
    font-variation-settings:
        'FILL' 0,
        'wght' 300,
        'GRAD' 0,
        'opsz' 24
}

.material-symbols-outlined:hover {
    color: var(--priC);
    transition: .5s;
    text-shadow: 0 0 10px #fff, 0 0 20px var(--priC);
}

.snavigate {
    padding: 25px;
    position: fixed;
    right: 3%;
    height: 70vh;
    top: 50%;
    transform: translateY(-50%);
    background-color: #00000037;
    border: 1px solid var(--triC);
    border-radius: 1000px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    transition: .5s;
    z-index: 10;
}

.snavigate:hover {
    backdrop-filter: blur(5px);
    background-color: #ffffff0d;
    transition: .5s;
    box-shadow: 0 0 5px #fff, 0 0 10px var(--priC), inset 0 0 5px #fff, inset 0 0 10px var(--priC);
    border: 1px solid #fff;
}

.snavigate a {
    text-decoration: none;
    color: #fff;
    cursor: pointer;
}

.contact form {
    width: 90%;
    border: 1px solid var(--triC);
    border-radius: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 0;
    justify-content: space-evenly;
    transition: all .8s ease;
}

.contact form:hover{
    box-shadow: inset 0 0 10px 0px var(--priC), 0 0 10px 0px var(--priC);
    backdrop-filter: blur(100px) brightness(1.2);
}

.contact form label {
    position: relative;
    width: 70%;
    height: 50px;
    /* border: 1px solid rebeccapurple; */
    margin: 20px auto;
    align-items: center;
}

.contact form label:has(textarea){
    height: 150px;
}

.contact form label input{
    all: unset;
    position: absolute;
    width: 100%;
    height: 50px;
    font-size: 2rem;
    padding: 0;
    border-bottom: 1px solid var(--triC);
    transition: all 0.5s ease;
}

.contact form label:not(:focus) input::placeholder{
    color: transparent;
    transition: all 0.5s ease;
}

.contact form label input:focus::placeholder{
    color: #ffffff96;
}

.contact form input[type='submit']{
    width: 60%;
    padding: 10px;
    border-radius: 200px;
    font-size: 2rem;
    font-weight: 900;
    border: none;
    background-color: var(--priC);
    transition: all 0.5s ease;
}

.contact form input[type='submit']:hover{
    box-shadow: 0 0 10px 0px var(--priC);
    color: white;
    text-shadow: 0 0 5px black;
}

.contact form label textarea{
    all: unset;
    width: 100%;
    height: 50px;
    font-size: 2rem;
    padding: 0;
    border-bottom: 1px solid var(--triC);
}

.contact form label:not(:focus) textarea::placeholder{
    color: transparent;
    transition: all 0.5s ease;
}

.contact form label textarea:focus::placeholder{
    color: #ffffff96;
}

.contact form label p {
    position: absolute;
    top: 20px;
    transition: all .3s ease;
}


.contact form label input:focus ~ p,
.contact form label input:user-valid ~ p,
.contact form label textarea:user-valid ~ p,
.contact form label textarea:focus ~ p {
    /* bottom: 35px; */
    top: -25px;
    bottom: auto;
    font-size: 1.4rem;
}

.contact form label input:focus{
    border-bottom: 1px solid var(--priC);
}